@media screen and (min-width: 614px) {

  .top-header {
      padding: 10px -100px 0px -100px;
    }
  .main-navigation {
    display: inline;
    width: 100%;
    display: none;
  }
  .menu {
    float: right;
    position: relative;
    margin: 0px -20px 0px 0px;
    font-size: 1.3em;
    width: 100%:
    display: none;
  }
  button {
    display: inline;
  }
}

@media screen and (min-width: 800px) {
  .top-header {
      padding: 0px -100px 0px -100px;
      width: 100%;
  }
  .main-navigation {
    display: inline;
    width: 100%;
  }
  .menu {
    float: right;
    /*padding-left: 500px;*/
    margin: 0;
    position: relative;
  }
  .homepage-pic {
    width: 100%;
    height: 50%;
    margin-top: 70px;
    margin-bottom: -100px;
    /*margin: 200px 0;*/
    overflow: hidden;
  }
  button {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .top-header {
      /*margin: 0px -100px 0px -100px;*/
      padding: 0px -100px 0px -100px;
  }
  .main-navigation {
    display: inline;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .menu {
    float: right;
    padding-left: 500px;
    margin: 0;
    position: relative;
  }
  .main-text {
    font-size: 1.2em;
    line-height: 1.3em;
  }
  .homepage-pic {
    width: 100%;
    margin-top: 70px;
    margin-bottom: -100px;
    /*margin: 200px 0;*/
    overflow: hidden;
  }
  .training {
    /*color: #333;
    padding: 200px 450px;
    margin: 50px 0px;
  }*/
  .training-overlay {
    padding-bottom: 110px;
    padding-top: 115px;
    font-size: 1.5em;
  }
  .contact-overlay {
    padding-bottom: 203px;
    padding-top: 115px;
    font-size: 1.5em;
  }
}
