@media screen and (min-width: 614px) {

  .top-header {
      padding: 10px -100px 0px -100px;
    }
  .main-navigation {
    display: inline;
    margin: -94px 30px 0px 100px;
    padding: 0;
  }
  .menu {
    float: right;
    position: relative;
    margin: 50px -1px 0px 100px;
    font-size: 1.3em;
  }
  button {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .top-header {
      /*padding: 0px -100px 0px -100px;*/
  }
  .main-navigation {
    display: inline;
    margin: 0;
    padding: 0;
  }
  .menu {
    float: right;
    padding-right: -10px;
    margin: 97px 20px 9px 95px;
    position: relative;
    font-size: 1.3em;
  }
  button {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .top-header {
      /*margin: 0px -100px 0px -100px;*/
      padding: 0px -100px 0px -100px;
  }
  .main-navigation {
    display: inline;
    margin: 0;
    padding: 0;
  }
  .menu {
    float: right;
    padding: 0px;
    margin: 0;
    position: relative;
  }
  .main-text {
    font-size: 1.2em;
    line-height: 1.3em;
  }
  .homepage-pic {
    width: 100%;
    margin-top: 77px;
    margin-bottom: -100px;
    /*margin: 200px 0;*/
    overflow: hidden;
  }
  .training {
    color: #333;
    padding: 200px 450px;
    margin: 50px 100px;
    border-radius: 13px;
    max-width: 100%;
  }
  .training-overlay {
    padding-bottom: 110px;
    padding-top: 115px;
    font-size: 1.5em;
  }
  .contact-overlay {
    padding-bottom: 203px;
    padding-top: 115px;
    font-size: 1.5em;
  }
  #about-header {
    text-align: center;
    /*border-top: 1px solid #333;
    border-bottom: 1px solid #333;*/
    padding: 200px 50px 50px 50px;
    margin-top: 100px;
  }
}
