/* Universal Styles
----------------------------------------------- */

* { box-sizing:border-box; }

/* General Body Styles
----------------------------------------------- */

body {
  background: white;
  font-family: "Sentinel SSm A","Sentinel SSm B",Georgia,"Times New Roman",Times,serif;
  position: relative;
  text-align: center;
  overflow-x: hidden;
}
header {
  position: absolute;
}
.main-text {
  color: 333;
  padding-bottom: 100px;
}

/* General Element Styles
----------------------------------------------- */

h1 {
  text-align: center;
  padding-top: 150px;
}
button {
  color: #d2002a;
  background-color: white;
  border: 1px solid #d2002a;
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 40px 10px -50px -85px;
  display: inline;
  opacity: .7;
  float: right;
  overflow: hidden;
}
.main-page-text {
  color: #333
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 1.2em;
  line-height: 1.3em;
}

/* Body Element Styles
----------------------------------------------- */

.top-header {
  padding: 0px -100px 0px -100px;
  background-color: white;
  display: block;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid #333;
  box-shadow: 0 0 .5px rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 80px;
}
.PageColumnContent {
  /*display: flex;*/
}

/* Logo Positioning */
.logo-container {
    float: left;
    overflow: hidden;
    padding: 20px;
    position: fixed;
    background: #fff;
    margin-left: 20px;
}
.logo-container:after {
    content: "";
    width: 172px;
    position: absolute;
    top: 76px;
    left: 0px;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom:1px solid #333;
    height: 87px;
}
.logo {
  height: 120px;
}

/* Menu Styles */
.main-navigation {
  display: none;
  margin: 0px 50px 0px 0px;
  padding-right: 25px;
  color: black;
  overflow: hidden;
  background-color: #fff;
  width: 50%;
}
.menu {
  display: inline;
  font-weight: 300;
  /*margin: 33px -10px 30px -10px;*/
  padding-bottom: -80px;
  float: right;
  list-style: none;
  z-index: 2;
}
.menu li {
  float: left;
}
.menu li a {
    float: left;
    display: inline-block;
    padding: 29px 24px 30px 24px;
    text-decoration: none;
    font-size: .75em;
    color: #333;
}
#trainLink {
  display: none;
  text-align: center;
  margin-left: 75px;
}
#about-header,
#training-header {
  margin-top: 75px;
  text-align: center;
}
#resource-header {
  padding: 150px 0 40px 0;
  margin-top: 450px;
  display: block;
}
#contact-header {
  margin-top: -30px;
}
.nav-button {
  outline: none;
  border: none;
}
/* Main Page Photo */
.homepage-pic {
  height: 50%;
  background-image: url("assets/img/photo-1441960114565-066d7a7b544b.jpg");
  background-position: 90% 80%;
  height: 300px;
  width: 700px;
  margin-top: 80px;
  margin-bottom: -40px;
  /*margin: 200px 0;*/
  overflow: hidden;
  clear: both;
  width: 100%;
}

/* Primary Sections of Page */
.about {
  background-image: url(http://www.sbts.edu/wp-content/uploads/2015/02/More-about-Southern.jpg);
  background-color: #d2002a;
  background-position: 50% 5%;
  color: #333;
  padding: 200px;
  margin: 50px 0;
  width: 100%;
  height: 70%;
  display: block;
  float: left;
}
.training {
  background-image: url(https://images.unsplash.com/photo-1427694012323-fb5e8b0c165b?crop=entropy&dpr=2&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300);
  background-color: #d2002a;
  color: #333;
  padding: 200px;
  /*margin: 50px 0;*/
  width: 100%;
  display: block;
}

/* Overlays for Primary Sections */
.contact-overlay {
  display: inline;
  background-color: #d2002a;
  position: relative;
  float: right;
  margin: -460px 150px 0px 700px;
  padding: 52px 95px 52px 95px;
  box-shadow: 1px 1px 1px .5px #888888;
  border-radius: 5px;
  font-size: 1.4em;
  line-height: 1.3em;
  opacity: 0.9;
  z-index: 0;
  max-height: 432px;
  min-width: 409px;
}
.training-overlay {
  display: inline;
  background-color: #d2002a;
  float: right;
  position: relative;
  margin: -400px 150px 0px 700px;
  padding: 20px 95px;
  box-shadow: 1px 1px 1px .5px #888888;
  border-radius: 5px;
  font-size: 1.3em;
  line-height: 1.3em;
  opacity: 0.9;
  z-index: 0;
  height: 405px;
  width: 296px;
  /*max-height: 435px;*/
}
.contact-overlay, .training-overlay p {
  text-align: center;
  color: white;
  border-radius: 4px;
  padding: 0px -20px;
  font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
}

/* Footer Styles*/
.foot {
  font-size: .75em;
  margin-top: 40px;
  text-align: center;
  overflow: hidden;
}
.bottomFooter {
  background: #333;
}
.footer-sbts-logo {
  width: 280px;
  height: 50px;
  margin-bottom: -40px;
  margin-top: 50px;
}

/* Interactive Element Styles
----------------------------------------------- */

#search {
  display: block;
  background-color: #f5f5f5;
  background-image:url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2225%22%20height%3D%2…-4.25%204.25%201.91%204.25%204.25%204.25z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  opacity: 0.9;
  margin: 25px auto;
  margin-bottom: -115px;
  width: 25%;
  height: 25px;
  border: 1px solid #333;
  color: #333;
  border-radius: 35px;
  box-shadow: .5px .2px .5px #333;
  text-align: left;
  width: 50%;
  border: none;
  outline: none;
  text-indent: 10px;
}
.search-overlay {
  display: none;
  background-color: #d2002a;
  float: center;
  /*margin: 0px, 350px, 300px, 500px;*/
  /*padding-bottom: 0px, 35px, 0px, 35px;*/
  box-shadow: 1px 1px 1px .5px #888888;
  border-radius: 5px;
  font-size: 1.3em;
  line-height: 1.3em;
  opacity: .9;
  z-index: -1;
}

/* Search Button - Currently Disabled */
#searchButtons {
  border-color: #d2002a;
  color: #fff;
  background-color: #d2002a;
  border-radius: 6px;
  display: inline;
}

/* Contact Form Styles */
.contactForm ul {
  list-style: none;
  float: center;
  margin-bottom: 0px;
  margin-right: 20px;
  position: relative;
  z-index: -5;
  width: 100%;
  text-decoration: none;
}
.contactForm input {
  align-items: center;
  background-color: white;
  z-index: 5;
  width: 60%;
  border: 1px solid #5e5e5e;
  border-radius: 3px;
  padding: 7px 0 7px 10px;
  margin: 0 0 10px 5px;
  flex-grow: 2;
}
.contactForm textarea {
  align-items: center;
  background-color: white;
  z-index: 5;
  width: 60%;
  border: 1px solid #5e5e5e;
  border-radius: 3px;
  padding: 7px 0 7px 10px;
  margin: 0 15px 10px 5px;
  flex-grow: 2;
}
.contactForm label {
  margin: 0 5px;
  display: inline;
  align-items: center;
  background-color: white;
  z-index: 5;
  width: 60%;
  padding: 20px 5px;
}
textarea {
  border: 1px solid #5e5e5e;
  border-radius: 3px;
  padding: 7px 0px;
  margin: 0 0 10px 5px;
  width: 60%;
}
#contactSubmitButton {
  border-color: #d2002a;
  color: #fff;
  background-color: #d2002a;
  border-radius: 6px;
  display: inline;
}
/*#formData {
  display: flex;
  height: 500px;
}*/

/* Pseudo Classes
----------------------------------------------- */

button:hover {
  color: #333;
  border-color: #333;
}

/* Contact Form Button */
#contactSubmitButton:hover {
  color: #fff;
  border-color: #fff;
}

/* Menu Hover Color */
.menu li a:hover {
  color: #d2002a;
}

/* Search Button - Currently Disabled */
#searchButtons:hover {
  color: #fff;
  border-color: #fff;
  outline: none;
}
