/* CSS Document */

/* GENERAL STYLES ------------------------------------------------------------*/

.clear {
  clear: both;
}

.divider {
  border-bottom: 1px solid #ccc;
  margin: .5em 0 1em 0;
}

.divider_dotted {
  border-bottom: 1px dotted #ccc;
  margin: .5em 0 1em 0; 
}

/* STYLE FOR FEATURES PAGE ---------------------------------------------------*/

#features h1 {
  font-size: 24px;
  color: #111;
  line-height: 32px;
}

#features h2 {
  margin-bottom: 5px;
  font-size: 18px;
  color: #666;
  line-height: 24px;
}

#features h3 {
  font-size: 16px;
  color: #009fda;
  line-height: 18px;
  margin: 1em 0 .5em 0;
}

#features h4 {
  font-size: 14px;
  color: #333;
  line-height: 16px;
}

#features p {
  color: #111;
  line-height: 24px;
  margin: 0 0 1em 0;
}

#features img.border {
  clear: both;
  padding: .5em;
  border: 2px solid #ccc;
  margin: .5em;
}

/* STYLE FOR GET SONGSELECT PAGE ---------------------------------------------*/

.get_ss_intro {
  margin: 0 0 .5em 0;
}

.price {
  font-size: 20px;
  color: #444;
  padding: .5em 0 0 0;
}

.package {
  width: 23%;
  border: 1px solid #313131;
  background-color: #f1f1f1;
  float: left;
  margin: 0 .75em 0 0;
  padding: 0 0 1em 0;
}

.package_heading {
  font-family: Calibri, Arial, sans-serif;
  text-align: center;
  color: #fff;
  display: block;
  min-height: 70px;
  background-color: #313131;
  font-size: 24px;
  margin: 0;
  padding: .25em .5em .25em .5em;
}

.choose {
  font-size: 18px;
  font-style: bold;
}

.package p {
  text-align: center;
}

.package ul {
  margin: 0 0 1.75em 1em;
}

.package ul li {
  background-image: url('https://s3.amazonaws.com/ccli-cdn/songselect/web/images/check-list.png');
  background-position: center left;
  background-repeat: no-repeat;
  padding: 0 0 0 1.75em;
  list-style-type: none;
}

.package a, .package a:visited {
  color: #00aeef;
  font-size: 18px;
}

.package a:hover {
  color: #00719a;
  cursor: pointer; 
}

a.order_btn {
  display: block;
  padding: .5em .5em .5em 0;
  margin: .5em auto;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  width: 50%;
  text-decoration: none;
  text-align: center;
}

.features_left {
  float: left;
  width: 49%;
}

.features_right {
  float: right;
  width: 49%;
}

.features_heading {
  font-size: 20px;
  color: #00aeef;
}

.disclaimer {
  font-style: italic;
  color: #666;
}

/* STYLE FOR SEASONAL PAGE ---------------------------------------------------*/
#seasonal div.clear {height: 0; width: 0;}

#seasonal img {
	border: none;
	margin: 0;
	padding: 0;
}

#seasonal a {
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
}

#seasonal a.more {
	float: right;
	text-decoration: none;

}

#seasonal h1 {
	color: #111;
	font-size: 32px;
  font-weight: 300;
	font-family: Calibri, Verdana, Geneva, sans-serif;
  margin-top: 30px;
}

#seasonal h2 {
  font-size: 16px;
  color: #666;
  margin-bottom: 0;
}

#seasonal h3 {
  font-size: 14px;
  color: #666;
  margin-bottom: 0;
}

#seasonal table {
	width: 100%;
}

#seasonal table td {
	width: 50%;
	font-size: 16px;
	padding: 0;
}

#seasonal table tr {
	border: none;
}

#seasonal .table1 {
	width: 100%;
	border: none;
}

#seasonal .table1 td {
	width:33%;
	font-size: 16px;
	padding: .5em;
	border: 5px double #fff;
  background: #f8f8f8;
}

#seasonal .table1 tr {
	border: none;
}

#seasonal .seasonal_banner img {float: left;}
#seasonal .seasonal_banner img.gift {float: right;}

#seasonal .seasonal_heading {
	border-top: 1px solid #eee;
	border-bottom: 2px solid #eee;
	background-color: #f8f8f8;
	padding: .5em 1em;
	margin: .5em 0 1em 0;
}

#seasonal .seasonal_heading img {float: left; margin-right: 2em; padding: .25em; border: 1px solid #a60023; background: #a60023;}
#seasonal .seasonal_heading p {font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #777;}
#seasonal .seasonal_heading a {font-size: 13px; font-weight: normal;}
#seasonal .get_songselect {display: inline-block; margin: 1.5em 0 0 0; border-top: 1px solid #ccc; padding: .25em;}
#seasonal .social_area {border-bottom: 2px solid #eee; border-top: 1px solid #eee; background: #eee;}
#seasonal .social_area ul {font-size: 14px; margin-bottom: 5px; padding: .5em 0 .15em 0; float: right;}
#seasonal .social_area ul li {display: inline-block; margin-bottom: 0; vertical-align: middle;}
#seasonal .social_area ul li.facebook {margin-right: 1.75em;}
#seasonal .social_area ul li a {display: inline-block;}
#seasonal .social_area img {vertical-align: middle;}
#seasonal .song_row {padding: .25em 0 .5em 0; border-top: 1px solid #eee;}
#seasonal .song_row div.song_title {width: 40%; float: left; padding: .5em 0 .25em 1em;}
#seasonal .song_row div.song_author {width: 35%; float: left; padding: .5em 0 .25em 1em;}
#seasonal .song_row div.song_author p {margin: 0;}

#seasonal .season_feature {
	background-image:  linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(https://d35zixk8uui5fz.cloudfront.net/songselect/web/images/Christmas/feature.jpg);
	background-size: cover;
	width: 961px;
	height: 300px;
	display:block;
}

#seasonal .season_title {
   color:#FFFFFF; 
   text-shadow: 2px 2px #000000; 
   font-size: 80px; 
   font-weight: bold; 
   padding-top: 90px;
   line-height: 80px;
}

#seasonal .season_sub {
	color:#FFFFFF; 
	text-shadow: 2px 2px #000000; 
	font-size: 45px; 
	font-weight: normal;
} 

#seasonal td, th {
	text-align:center;
}

#seasonal section {
	text-align:center;
	clear:both;
	width: 100%;
}

#seasonal .btn {
  cursor: pointer;
  border-radius: 0px;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
  white-space:nowrap;
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
}

#seasonal .blue {
  color: #009FDA;
  border: 1px #55acee solid;
  text-transform: uppercase;
  font-weight:normal;
  margin-top: 10px;
}

#seasonal .blue:hover {
  background-color: #009FDA;
  color: #fff;
}

#seasonal .red {
  color: #fff;
  background-color: #a80024;
  text-transform: uppercase;
  text-align:center;
  margin-left: 0px;
  font-weight:normal;
}

#seasonal .red:hover {
  background-color: #4b0111;
  color: #fff;
}

/* STYLE FOR AFFILIATES CONTENT ---------------------------------------------------*/

.affiliates .row {
  display: block;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
}

.affiliates .row:last-child {
  border-bottom: none;
}

.affiliates .row a {
  display: block;
  cursor: pointer;
  color: #444;
  padding: .5em 1em .5em 1.5em;

}

.affiliates .row a:hover {
  background: #f4f4f4;
  color: #009fda;
}

.affiliates .type {
  display: inline-block;
  width: 25%;
  font-weight: bold;
}

.affiliates .image {
  display: inline-block;
  width: 25%;
  text-align: center;
}

.affiliates .image img {vertical-align: middle;}

.affiliates .source {
  display: inline-block;
  width: 40%;
  line-height: 36px;
  padding-left: 1em;
  font-size: 14px;
  text-align: center;
}

.affiliates form {
  margin-bottom: 2em;
}

.affiliates legend {
  display: block;
  margin: 0 0 0 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.affiliates fieldset {
  border: 1px solid #ccc;
}

/* STYLE FOR PROMOTION PAGE ---------------------------------------------------*/
#promo div.clear {height: 0; width: 0;}

#promo img {
	border: none;
	margin: 0;
	padding: 0;
}

#promo a {
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
}

#promo a.more {
	float: right;
	text-decoration: none;

}

#promo h1 {
	color: #111;
	font-size: 32px;
  font-weight: 300;
	font-family: Calibri, Verdana, Geneva, sans-serif;
  margin-top: 30px;
}

#promo h2 {
  font-size: 16px;
  color: #666;
  margin-bottom: 0;
}

#promo h3 {
  font-size: 14px;
  color: #666;
  margin-bottom: 0;
}

#promo table {
	width: 100%;
}

#promo table td {
	width: 50%;
	font-size: 16px;
	padding: 0;
}

#promo table tr {
	border: none;
}

#promo .table1 {
	width: 100%;
	border: none;
}

#promo .table1 td {
	width:33%;
	font-size: 16px;
	padding: .5em;
	border: 5px double #fff;
  background: #f8f8f8;
}

#promo .table1 tr {
	border: none;
}

#promo .promo_banner img {float: left;}
#promo .promo_banner img.gift {float: right;}

#promo .promo_heading {
	border-top: 1px solid #eee;
	border-bottom: 2px solid #eee;
	background-color: #f8f8f8;
	padding: .5em 1em;
	margin: .5em 0 1em 0;
}

#promo .promo_heading img {float: left; margin-right: 2em; padding: .25em; border: 1px solid #a60023; background: #a60023;}
#promo .promo_heading p {font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #777;}
#promo .promo_heading a {font-size: 13px; font-weight: normal;}
#promo .get_songselect {display: inline-block; margin: 1.5em 0 0 0; border-top: 1px solid #ccc; padding: .25em;}
#promo .social_area {border-bottom: 2px solid #eee; border-top: 1px solid #eee; background: #eee;}
#promo .social_area ul {font-size: 14px; margin-bottom: 5px; padding: .5em 0 .15em 0; float: right;}
#promo .social_area ul li {display: inline-block; margin-bottom: 0; vertical-align: middle;}
#promo .social_area ul li.facebook {margin-right: 1.75em;}
#promo .social_area ul li a {display: inline-block;}
#promo .social_area img {vertical-align: middle;}
#promo .song_row {padding: .25em 0 .5em 0; border-top: 1px solid #eee;}
#promo .song_row div.song_title {width: 40%; float: left; padding: .5em 0 .25em 1em;}
#promo .song_row div.song_author {width: 35%; float: left; padding: .5em 0 .25em 1em;}
#promo .song_row div.song_author p {margin: 0;}

#promo .season_feature {
	background-image:  linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(https://d35zixk8uui5fz.cloudfront.net/songselect/web/images/Christmas/feature.jpg);
	background-size: cover;
	width: 961px;
	height: 300px;
	display:block;
}

#promo .season_title {
   color:#FFFFFF; 
   text-shadow: 2px 2px #000000; 
   font-size: 80px; 
   font-weight: bold; 
   padding-top: 90px;
   line-height: 80px;
}

#promo .season_sub {
	color:#FFFFFF; 
	text-shadow: 2px 2px #000000; 
	font-size: 45px; 
	font-weight: normal;
} 

#promo td, th {
	text-align:center;
}

#promo section {
	text-align:center;
	clear:both;
	width: 100%;
}

#promo .btn {
  cursor: pointer;
  border-radius: 0px;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
  white-space:nowrap;
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
}

#promo .blue {
  color: #009FDA;
  border: 1px #55acee solid;
  text-transform: uppercase;
  font-weight:normal;
  margin-top: 10px;
}

#promo .blue:hover {
  background-color: #009FDA;
  color: #fff;
}

#promo .red {
  color: #fff;
  background-color: #a80024;
  text-transform: uppercase;
  text-align:center;
  margin-left: 0px;
  font-weight:normal;
}

#promo .red:hover {
  background-color: #4b0111;
  color: #fff;
}

/* STYLE FOR API Partners PAGE ---------------------------------------------------*/
#APIPartners div.clear {height: 0; width: 0;}

#APIPartners img {
	border: none;
	margin: 0;
	padding: 0;
}

#APIPartners a {
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
}

#APIPartners a.more {
	float: right;
	text-decoration: none;

}

#APIPartners h1 {
	color: #111;
	font-size: 32px;
  font-weight: 300;
	font-family: Calibri, Verdana, Geneva, sans-serif;
  margin: .5em 0;
}

#APIPartners h2 {
  font-size: 16px;
  color: #666;
  margin-bottom: 0;
}

#APIPartners h3 {
  font-size: 14px;
  color: #666;
  margin-bottom: 0;
}

#APIPartners table {
	width: 100%;
}

#APIPartners table td {
	width: 50%;
	font-size: 16px;
	padding: 0;
}

#APIPartners table tr {
	border: none;
}

#APIPartners .table1 {
	width: 100%;
	border: none;
}

#APIPartners .table1 td {
	width:33%;
	font-size: 16px;
	padding: .5em;
	border: 5px double #fff;
  background: #f8f8f8;
}

#APIPartners .table1 tr {
	border: none;
}

#APIPartners .APIPartners_banner {text-align: center;}
#APIPartners .APIPartners_banner img.gift {float: right;}

#APIPartners .APIPartners_heading {
	border-top: 1px solid #eee;
	border-bottom: 2px solid #eee;
	background-color: #f8f8f8;
	padding: .5em 1em;
	margin: .5em 0 1em 0;
}

#APIPartners .APIPartners_heading img {float: left; margin-right: 2em; padding: .25em; border: 1px solid #009FDA ; background: #009FDA ;}
#APIPartners .APIPartners_heading p {font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #777;}
#APIPartners .APIPartners_heading a {font-size: 13px; font-weight: normal;}
#APIPartners .get_songselect {display: inline-block; margin: 1.5em 0 0 0; border-top: 1px solid #ccc; padding: .25em;}
#APIPartners .social_area {border-bottom: 2px solid #eee; border-top: 1px solid #eee; background: #eee;}
#APIPartners .social_area ul {font-size: 14px; margin-bottom: 5px; padding: .5em 0 .15em 0; float: right;}
#APIPartners .social_area ul li {display: inline-block; margin-bottom: 0; vertical-align: middle;}
#APIPartners .social_area ul li.facebook {margin-right: 1.75em;}
#APIPartners .social_area ul li a {display: inline-block;}
#APIPartners .social_area img {vertical-align: middle;}
#APIPartners .partner_row {padding: .25em 0 .5em 0; border-top: 1px solid #eee;}
#APIPartners .partner_row div.partner_title {width: 20%; float: left; padding: .5em 0 .25em 1em;}
#APIPartners .partner_row div.partner_author {width: 55%; float: left; padding: .5em 0 .25em 1em;}
#APIPartners .partner_row div.partner_author p {margin: 0;}
#APIPartners .partner_row div.partner_button {width: 15%; float: left; padding: .5em 0 .25em 2em;}
#APIPartners .partner_button a {display: block; padding: .5em .25em; background: #009FDA; color: #fff; text-align: center; font-size: 14px;}
#APIPartners .partner_button a:hover {background: #008EC2 ;
-webkit-transition: background-color 0.25s ease-in-out;
-webkit-transition-property: background-color;
-webkit-transition-duration: 0.25s;
-webkit-transition-timing-function: ease-in-out;
-webkit-transition-delay: initial;
-moz-transition: background-color 0.25s ease-in-out;
-o-transition: background-color 0.25s ease-in-out;
transition: background-color 0.25s ease-in-out;}
#APIPartners .partner_row p {font-size: 14px;}

#APIPartners .fb_reset {display: inline-block;}

#APIPartners a.APIPartners_button { display: block; width: 25%; padding: .5em .25em; margin: 15px 0 0 225px; background: #009FDA; color: #fff; text-align: center; font-size: 14px; font-weight: bold;}
#APIPartners a.APIPartners_button:hover {background: #008EC2 ;
-webkit-transition: background-color 0.25s ease-in-out;
-webkit-transition-property: background-color;
-webkit-transition-duration: 0.25s;
-webkit-transition-timing-function: ease-in-out;
-webkit-transition-delay: initial;
-moz-transition: background-color 0.25s ease-in-out;
-o-transition: background-color 0.25s ease-in-out;
transition: background-color 0.25s ease-in-out;}


 /*Suppress German Blog Link -------------------------------------------------*/
a[href*="http://DE.blog.songselect.com"] {display:none;} 
a.blog[href*="http://DE.blog.songselect.com"] {display:none;}